.hours-container {
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: start;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.hour-container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 20px 20px;
    width: 70px;
}

.hour {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-size: 14px;
}

.hour-svg {
    padding: 7px 0px 7px 0px;
}

.temp {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.line {
    width: 1px;
    height: 120px;
    background-color: gray;
}
