.main-card-container {
    display: flex;
    align-items: start;
    justify-content: center;
    overflow: hidden;

    .main-card {
        position: relative;
        display: flex;
        background-color: #ffffff;
        margin-top: 40px;
        padding-top: 20px;
        border-radius: 20px;
        width: 50%;
        height: 400px;
        justify-content: space-between;
    }
}
